body {
    font-family: Helvetica, sans-serif;
}
h1 {
    font-family: inherit;
    font-size: 40px;
    color:white;
    background-color: black;
    text-align: center;
    padding: 10px;
}

.questions {
    font-family: inherit;
    font-size: 20px;
    color: white;
    text-align: left;
    background-color: lightblue;
    /*width: 500px;*/
    display: block;
    margin: 100px;
    padding: 50px;
    /*display: inline;*/
}

p:first-child {
    color: black;
    font-weight: bold;
}
.lists {
    font-family: inherit;
    font-size: 20px;
    text-align: left;
    color: white;
    background-color: lightseagreen;
    margin: 100px;
    padding: 50px;  

}
h3 {
    font-style: bold;
    color: white;
    width: 100px;
}
